* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
window {
  background-color: rgb(0,0,0,0);
  color: #fff;
  font-family: Cantarell;
  padding:0px;
}


//Left Bar Formatting
.chev1{
  font-size: 35px;
  padding:0px;
  color: #b96e73
}

.rofiButton{
  font-size: 16px;
  padding: 0px 10px;
  background-color: #b96e73;
  color: #ffffff;
}
.rofiButton:hover{
  color: #9de1e2;
}

.offButton{
  background-color: #b96e73;
  font-size: 14px;
  padding: 0px 10px;
}
.offButton:hover{
  color: #a9483d;
}

.audioButton1{
  font-size: 16px;
  padding: 0px 10px 0px 15px;
  background-color: #e58c4e;
}
.audioButton1:hover{
  color: #2c6e84;
}

.audioButton2{
  font-size: 16px;
  padding: 0px 10px 0px 10px;
  background-color: #e58c4e;
}
.audioButton2:hover{
  color: #2c6e84;
}

.chev2{
  font-size: 35px;
  background-color:rgb(0,0,0,0);
  padding:0px;
  color: #e58c4e;
}





.workspaces{
  font-size: 16px;
  background-color:#b96e73;
  padding: 0px;
}
.workspaces :hover{
  color: #fff;
}
.workspaces button{
  padding: 11px 15px 11px 15px;
}
.chev3{
  padding-right: 0px;
  color: #b96e73;
  font-size: 35px;
  background-color:rgb(0,0,0,0);
}











//Right Bar Formatting
//First Box
.chev4{
  color:#b96e73;
  font-size: 35px;
  background-color:rgb(0,0,0,0)
}
.CPUbox{
  background-color: #b96e73;
  font-size: 14px;
  padding: 0px 5px
}
.RAMbox{
  background-color: #b96e73;
  font-size: 14px;
  padding: 0px 0px 0px 5px;
}




//Audio Buttons
.chev5{
  color:#b96e73;
  font-size: 35px;
  background-color:rgb(0,0,0,0)
}





//Volume SLider
.chev6{
  color:#f3b44b;
  font-size: 35px;
  background-color:#b96e73;
}

.vol-slider{
  padding:0px;
  background-color: #f3b44b;
  color: #e5ddd2;
}
.volIcon{
  font-size:20px;
  padding-right:5px;
}
.volVal{
  padding: 0px 3px;
  min-width:39px;
  font-size: 15px;
}
.vol-slider scale trough highlight {
  background-color: #e5ddd2;
  color: #b96e73;
  border-radius: 3px;
}
.vol-slider scale trough {
  background-color: #edc377;
  border-radius: 3px;
  min-height: 10px;
  min-width: 75px;
  margin-left: 3px;
  margin-right: 3px;
}




//Clock
.chev7{
  color:#e58c4e;
  font-size: 35px;
  background-color:#f3b44b;
}
.time{
  padding-right: 0px;
  font-size: 15px;
  background-color: #e58c4e;
}



//Off Button
.chev8{
  color:#e58c4e;
  font-size: 35px;
  background-color:rgb(0,0,0,0);
}
